@model StoreFrontLab.DATA.EF.ProductMake

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MakeName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MakeName)
        </dd>

    </dl>
</div>
