
@{
    ViewBag.Title = "Oh Snap!";
}
<div class="container text-center">
        <h2 class="viewHeader text-danger">@ViewBag.Title</h2>

            <p class="text-danger">
                Something broke! We apologize for any inconvenience.
            </p>
        <img src="~/Content/img/OhSnap.png" />


    </div>

