<div>
    <div class="row aft-banner">
        <div class="col-sm-1"></div>
        <div class="col-sm-2 d-none d-sm-block">
            <div class="g-box">Search your<br><b>Domain Name</b></div>
        </div>
        <div class="col-sm-4">
            <div class="domains">.com $10 | .net $8 | .org $12</div>
            <div class="text-center orange">Bulk Domain Search | Domain Transfer</div>
        </div>
        <div class="col-sm-4">
            <div class="input-group">
                <input type="text" class="form-control dark-bg" placeholder="Domain name">
                <div class="input-group-append">
                    <select class="btn-brop">
                        <option>.com</option>
                        <option>.net</option>
                        <option>.org</option>
                    </select>
                    <button class="btn btn-outline-secondary btn-org" type="button">Go</button>
                </div>
            </div>
        </div>
    </div>
</div>
