@model StoreFrontLab.DATA.EF.Product
<div class="smoke">
    <div class="container" id="fh5co-pricing">

        <div class="heading animate-box"><h2><b>FEATURED PRODUCTS</b></h2></div>
        <div class="text-center animate-box"><h3>Lorem ipsum lahore</h3></div>
        <br><br>
        <div class="row">
            @* Start foreach, iterating through featured products *@
            <div class="col-sm-4 animate-box" data-animate-effect="fadeInLeft">
                <div class="price-box">
                    <h3><b>[PRODUCT NAME]</b></h3>
                    <h2 class="text-org"><b>Brought to you by: [PRODUCT MAKE]</b></h2>
                    <h3><b>PER MONTH</b></h3>
                    <div class="gr-line"></div>
                    <div>50 GB DISK SPACE</div>
                    <div class="gr-line"></div>
                    <div>100 GB BANDWIDTH</div>
                    <div class="gr-line"></div>
                    <div>FREE DOMAIN REGISTRATION</div>
                    <br>
                    <button class="btn btn-banner">GET STARTED</button>
                </div>
            </div>
        </div>
    </div>
</div>
