<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
  <!-- The setting below defines the mail server -->
  <add key="EmailClient" value="mail.croftcoding.com" />
  <!-- Email that exists on your hosting account defined below -->
  <add key="EmailUser" value="webadmin@croftcoding.com" />
  <!-- This is the password for the value defined in EmailUser. It was obtained from smarterASP -->
  <add key="EmailPass" value="Loldude555!" />
  <!-- The address that you want emails to be sent to defined below -->
  <add key="EmailTo" value="carterncroft@gmail.com" />
</appSettings>