@{
    ViewBag.Title = "Home";
}
<div>
    @* 1941 x 700 *@
    <img class="banner d-none d-sm-block" src="~/Content/img/banner.jpg">
    <div class="banner-text d-none d-sm-block animate-box" data-animate-effect="fadeInLeft">
        <h2>Find your dream guitar!</h2>
        <div style="width: 90%">
            Check out our endless selection of wonderfully crafted guitars and accessories. We guarantee our
            products are shipped with great care and each will show up in one piece. Click the button below
            to browse our stock!
        </div>
        <br />
        <a href="@Url.Action("Index", "Products")" class="btn btn-banner">GET SHOPPING</a>
    </div>

</div>
<div class="break"></div>
@Html.Partial("_FeaturedProducts")